/* style4.css */

/* Universal Selsctor */
*{
    font-family: Arial;
}

/* Type Selector */
p{
    background-color: red !important;
}
/* Class Selector */
.italic{
    font-style: italic;
}
/* ID Selector */
#paragraph-01{
    font-size: 20px;
}
/* Child Selector */
nav > ul{
    background-color: pink;
}
/* Descendant Selector */
nav a{
    color: red;
}
/* Adjacent Sibling Selector*/
h2 + p{
    color: green;
}
/* General Sibling Selector */
h2 ~ p{
    background-color: orange;
}
/* Inharitance */
nav{
    font-size: 18px;
}
nav > ul{
    font-size: inherit;
}



