.display-property-none{
    background-color: blue;
    height: 150px;
    display: none;
}

.display-property-block{
    background-color: red;
    height: 150px;
    display: block;
}

.display-property-inline{
    background-color: cyan;
    height: 150px;
    width: 150px;
    display: inline;
}

.display-property-inline-block{
    background-color: chocolate;
    height: 150px;
    width: 150px;
}

.relative{
    position: realtive;
    top: 50px;
    left: 150px;
    background-color: red;
}

.parent{
    margin: 80px 0;
    border: 2px solid black;
    position: relative;
}

.absolute{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.fixed{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
    background-color: yellow;
}

.floating{
    background-color: blue;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    float: left;
}

.clearfix{
    clear: left;
}

.header{
    background-color: gray;
    height: 100px;
}

.nav{
    background-color: blue;
    height: 40px;
    border-width: 5px 0;
    border-style: solid;
    border-color: white;
}

.main{
    background-color: red;
    height: 400px;
}

.main > aside{
    background-color: gray;
    height: 100%;
    float: left;
    width: 30%;
    border-right-width: 5px;
    border-right-style: solid;
    border-color: white;
    box-sizing: border-box;
}

.main > section{
    background-color: chocolate;
    height: 100%;
    float: right;
    width: 70%;
}

.footer{
    background-color: gray;
    height: 100px;
    border: 5px solod white;
    border-left-width: 0px;
    border-right-width: 0px;
}

@media only screen and (max-width: 600px){
    .main{
        height: 100%;
    }

    .main > aside {
        width: 100%;
        float: none;
        border: none;
        border-bottom: 5px solid white;
        height: 150px
    }

    .main > section {
        width: 100%;
        float: none;
        height: 150px;
    }
}

@media screen and (min-width: 600px){
    .main > aside {
        width: 50%;
        float: left;
        border-right: 5px solid white
    }

    .main > section{
        width: 50%;
        float: left;
    }

}

@media screen and (min-width: 768px){
    .main > aside{
        background-color: blue;
    }

    .main > section{
        background-color: red;
    }
}

@media screen and (min-width: 992px){
    .main > aside {
        width: 40%;
    }
    .main > section{
        width: 60%;
    }
}

@media screen and (min-width: 1200px){
    .main > aside{
        width: 30%;
        background-color: gray;
    }

    .main > section{
        width: 70%;
        background-color: tomato;
    }
}