/* style.css */
.display-property-none{
    background-color: blue;
    height: 150px;
    display: none;
}
.display-property-block{
    background-color: red;
    display: block;
    height: 150px;
    width: 150px;
}

.display-property-inline{
    background-color: cyan;
    display: inline;
    height: 150px;
    width: 150px;
}
.display-property-inline-block{
    background-color: chartreuse;
    display:inline-block;
    height: 150px;
    width: 150px;
}

/* relative positioning */
.relative{
    position: relative;
    top: 50px;
    left: 150px;
}

/* absolute positioning */
.parent{
    margin: 80px 0px;
    border: 2px solid black;
    position: relative;
}

.absolute{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* fixed positioning */
.fixed{
    position: fixed;
    bottom: 50px;
    right: 175px;
    background-color: yellow;
    z-index: 1000;
    line-height: 50px;
    text-align:center;
    height: 50px;
    width: 100px;
}
/* floating elements */
.floating{
    background-color:red;
    width: 300px;
    height: 300px;
    float: left;
    border: solid 3px black;
    position: relative;
}

.in{
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50px;
    left: 100px;
    border: solid 2px black;
}
.inin{
    background-color: pink;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25px;
    left: 25px;
    border: solid 5px purple; 
    border-radius: 50%;
}
.clearfix{
    clear: both;
}
/* LayOut Structure using float */
.header{
    background-color: #333;
    height:100px;
}
.nav{
    background-color: #333;
    height: 40px;
    border-width: 5px 0;
    border-style: solid;
    border-color: white;
}
.main{
    background-color: yellow;
    height: 400px;
    
}
.main > aside{
    background-color: #333;
    height: 100%;
    float: left;
    width:20%;
    border-right-width: 5px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
}
.main > section{
    background-color: #555;
    height: 100%;
    float: right;
    width: 80%;
    box-sizing: border-box;
}
.footer{
    background-color: #333;
    height: 100px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

